:root{
    --section-height: 100vh;
    --root-text-size: 16px;
    --section-width: 90%;
}


header,section {
    min-height: var(--section-height);
}

body{
    width: 100%;
    font-size: var(--root-text-size);
    font-family: "Montserrat",sans-serif;
}

.wrapper{
    max-width: var(--section-width);
    margin: 0 auto;
}

a:link, a:visited, a:active{
    text-decoration: none;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
}