footer{
    background-color: #E4EFFF;
    /* min-height: 400px; */
    font-family: 'Raleway';
}

/* footer h2{
    margin-bottom: 50px;
} */


footer .wrapper{
    display: flex;
    justify-content: space-around;
    /* padding: 24px 0; */
    /* padding: 64px 0; */
}

.footer-contact-information{
    display: flex;
}

.footer-information{
   margin-right: 100px; 
}

footer li{
    font-size: 2em;
    /* font-weight: 300; */
    margin-top: 20px;
}


@media screen and (orientation:portrait) {
    footer .wrapper, .footer-contact-information{
        flex-direction: column;
        padding: 0;
        /* justify-content: center; */
        /* align-items: center; */
    }
    #footer{
        font-size: 1em;
    }
    .footer-offline-stores{
        margin-top: var(--mp-top);
    }
    .footer-contact-information{
        margin-bottom: var(--mp-top);
    }
    .footer-contact-information div{
        margin: 0;
        /* margin-bottom: v; */
        /* margin-bottom: var(--mp-top); */

    }
    footer h2{
        margin-top: var(--mp-top);
        margin-bottom: var(--mp-top);
    }
    footer li{
        font-size: 1em;
        margin-top: 10px;
    }
}