/* variables */
:root{
    --max-gcard-width: 350px;
    --max-gcard-height: 550px;
    --active-gcard-width: 500px;
    --mp-top: 24px;
    --min-categories-height: 64px;
    /* --section-height: 100vh; */
}

/* секция превью */

.main-preview{
    /* padding-top: 25vh; */
    /* max-height: 100vh; */
    /* height: var(--section-height); */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main{
    font-family: 'Montserrat', sans-serif;
} */

.preview-goods-items{
    max-width: var(--max-gcard-width);
    max-height: var(--max-gcard-height);
    /* margin: 0 50px; */
    margin-right: 50px;
}

.preview-goods-items:last-child{
    margin-right: 0;
}

.preview-goods-items img{
    /* max-width: 350px;
    max-height: 450px; */
    width: 100%;
}

.preview-goods{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

/* каталог */

.main-catalog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.main-catalog-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, var(--min-categories-height));
    gap: 20px;
}

.catalog-img{
    max-height: 900px;
    /* max-width: 100%; */
    width: 100%;
    /* object-fit:contain; */
    /* height: 70vh; */
}

.catalog--image, .catalog--categories{
    width: 49%;
}

.catalog--categories h2{
    margin-bottom: var(--mp-top);
} 

.catalog--categories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-categories{
    font-size: 1.5em;
    min-width: 80px;
    max-width: 350px;
    /* min-height: var(--min-categories-height); */
    /* margin: 30px 24px 0; */
    border: solid 1px #000000;
}

/* .catalog-categories:last-child{
   
    margin-bottom: 30px;
} */

.catalog-categories:hover{
    cursor: pointer;
}

.categories--link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.categories--link:active, .categories--link:visited, .categories--link:link{
    color: #000000;
}

.catalog-categories:last-child a{
    color: #FF0000;
}

.foo{
    margin-top: var(--mp-top);
    height: 500px;
}

/* контакт */

.main-email{
    min-height: 55vh;
    font-family: 'Raleway';
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.main-email p, .main-email input{
    font-size: 2em;
    /* padding-top: 24px; */
}

.main-email p, .email-form{
    margin-top: var(--mp-top);
}

#email{
    width: calc( 100% - 500px );
    border: none;
    border-bottom: 1px solid black;
}

#email::placeholder{
    padding-left: 40px;
}

input{
    height: var(--min-categories-height);
    font-family: "Raleway";
}
#email-button{
    width: 350px;
    margin-left: 100px;
    font-weight: 100;
    font-size: 1.5em;
}

.main-email h2{
    padding-top: 100px;
}

.main-link:link, .main-link:active, .main-link:visited{
    color: #000000;
    /* text-decoration: underline; */
    border-bottom: 1px solid #000000;
}



/* media */

@media screen and (orientation:portrait){
    
    .main-preview{
        padding-top: 0;
    }
    .preview-goods-items{
        max-width: 200px;
        margin: 0;
    }
    .preview-goods{
        flex-direction: column;
    }
    .main-catalog-categories{
        display: flex;
        flex-direction: column;
    }
    .main-catalog{
        flex-direction: column;
    }
    div[class^='catalog--']{
        width: 100%;
    }
    .catalog--image{
        display: none;
    }
    .catalog--categories h2{
        margin-top: var(--mp-top);
    }
    .catalog-categories{
        justify-content: center;
        height: calc(var(--min-categories-height)/4*2.5);
    }
    .foo{
        height: auto;
        margin-bottom: var(--mp-top);
    }

    .main-email h2{
        padding-top: var(--mp-top);
        text-align: center;
    }

    .email-form{
        display: flex;
        flex-direction: column;
    }
    #email{
        width: 100%;
        padding: 0;
        margin-bottom: var(--mp-top);
    }
    #email::placeholder{
        padding-left: 0;
        text-align: center;
    }
    #email-button{
        margin-left: 0;
        width: 100%;
    }

    .main-email p, .main-email input[type='email'] {
        font-size: 1.4em;
    }

    .main-email{
        padding-bottom: var(--mp-top);
        width: 100%;
    }
}