@import url(fonts.css);
@import url(components/common.css);
@import url(components/header.css);
@import url(components/main.css);
@import url(components/footer.css);
@import url(components/goods.css);




.line{
    font-family: 'Monoton';
    overflow: hidden;
    width: 100%;
    color: #0001FC;
    font-size: 4em;
    margin: 50px 0;
}

.line div{
    display:flex;
    margin: 0;
    padding: 0;
    width: 180%;
    -webkit-animation: marquee-infinite 10s linear infinite;
    animation: marquee-infinite 10s linear infinite;
    }

.line p{
    white-space: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
}
     
@-webkit-keyframes marquee-infinite {
    0%{-webkit-transform: translate(0%);}
    100%{-webkit-transform: translate(-50%);}
}
@keyframes marquee-infinite{
    0%{transform: translate(0%);}
    100%{transform: translate(-50%)}
}


@media screen and (orientation:portrait) {
    .line div{
        display:flex;
        width: 200%;
        -webkit-animation: marquee-infinite 2s linear infinite;
        animation: marquee-infinite 2s linear infinite;
        }
}